@import "tailwindcss";


.light-theme{
    --bg-color: #ffffff;
    --text-color: #000000;
}
.dark-theme{
    background-color: #000;
    color: #fff;
}
html{
    background-color: white;
}
body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
@layer utilities{    
    .bg-transparent-img{
    border-width: 1px;
    border-color: black;
    }

    .bg-transparent-img:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Your overlay color */
    z-index: 1;
    }
    .bg-transparent-img:hover{
    background-image: url('../images/transparent-bg.png');
    background-size: 350px;
    border:1px solid grey;
    border-radius:5px;
    overflow: clip;
    position: relative;
    }

    .bg-transparent-img .copy{
    display: none  ;
    }

    .bg-transparent-img:hover .copy{
        display: block  ;
    }
       .bg-transparent-img .download{
    display: none  ;
    }

    .bg-transparent-img:hover .download{
        display: block  ;
    }
    
    
}